* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
.mailContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar {
  background-color: #c2e9f9;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 10rem;
  margin: 0;
}
.sidetop {
  height: 11.8rem;
  justify-content: space-between;
}
.asidelogo>div, .sidetop {
  display: flex;
  flex-direction: column;
}
.asidelogo, .signOutBtn {
  cursor: pointer;
  left: 10%;
  position: relative;
}
.sidetop>div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 66.66%;
  justify-content: space-evenly;
  width: 100%;
}
.dashbord {
  cursor: pointer;
  width: 5.5rem;
}
.asideOpenimg {
  cursor: pointer;
  width: 8rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 55px;
  margin-left: 50px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}