/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    --max-width: 1170px;
    --fixed-width: 450px;
    --clr-orange-1: hsl(12, 83%, 98%);
    --clr-orange-2: hsl(14, 91%, 95%);
    --clr-orange-3: hsl(12, 89%, 89%);
    --clr-orange-4: hsl(13, 87%, 82%);
    --clr-orange-5: hsl(13, 88%, 68%);
    --clr-orange-6: hsl(13, 88%, 55%);
    --clr-orange-7: hsl(13, 74%, 49%);
    --clr-orange-8: hsl(13, 74%, 33%);
    --clr-orange-9: hsl(13, 73%, 25%);
    --clr-orange-10: hsl(13, 73%, 16%);
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin: 0;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  /*  global classes */
  /*aside clases*/

  * {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }
  .mailContainer {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .sidebar {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background-color: #c2e9f9;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 15rem;
    margin: 0;
    position: absolute;
  }
  .sidetop {
    height: 11.8rem;
    justify-content: space-between;
  }
  .asidelogo>div, .sidetop {
    display: flex;
    flex-direction: column;
  }
  .sidetop-img>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position:absolute;
    left: 1.5rem;
  }
  .asidelogo{
    margin-top: 8%;
    display: inline;
    position: absolute;
  }
  .asidelogo>h4{
    margin-bottom: 0;
  }
  .asidelogo, .signOutBtn {
    cursor: pointer;
    left: 10%;
    position: relative;
  }
  .sidetop>div {
    margin-top: 15%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 66.66%;
    background-color: var(--clr-white);
    justify-content: space-evenly;
    width: 90%;
    margin-left: 5%;
  }
  .dashbord {
    cursor: pointer;
    width: 5.5rem;
  }
  .asideOpenimg {
    cursor: pointer;
    width: 8rem;
  }
  .sidetoggle{
    height: 8rem;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    margin-left: 50px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .feedbackOverlay {
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    bottom: 0;
    left:15rem;
    right: 0;
    position: fixed;
    display: none;
    z-index: 5;
  }
  
  .feedbackOverlay.feedbackShow {
    display: block;
  }
  
  .feedbackModal {
    position: absolute;
    background-color: #c2e9f9;
    width: 53rem;
    left:-38rem;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0 12px 12px;
    transition: all 0.5s ease-out;
    z-index: -1;
    height: 41.05rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
  }
  .feedbackModal.feedbackShow {
    left:100%;
    z-index: 10;
  }
  
  .feedbackClose {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: transparent;
    border: 0;
    font-size: 18px;
  }
  .feedback-form{
    margin: 2rem 4rem;
  }
  .feedback-input {
    margin-bottom: 0.3rem;
}
input[type=text] {
  width: 60%;
  padding: 10px 7px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid #c2e9f9;
  outline: none;
  border-radius: 0.3rem 0.3rem;
}
textarea {
  border-radius: 0.5rem 0.5rem;
  width: 95%;
  height: 70px;
  padding: 7px 7px;
  box-sizing: border-box;
  border: 1px solid #c2e9f9;
  font-size: 16px;
  resize: none;
  outline: none;
}
#fdbck-btn{
  padding: 0.5rem;
  width: 25%;
  margin: 0.5rem 0;
}


/*************iframe****************/
.iframe-heading{
  height: 3.6rem;
}
.iframe-para{
  display: inline;
  font-size: 30px;
  margin-left: 11rem;
}
.iframe-button{
  float: right;
  margin: 1rem 2rem;
  width: 7%;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: rgb(33, 94, 226);
  color: whitesmoke;
  border: 1px solid rgb(2, 2, 150);
  border-radius: 0.5rem 0.5rem;
}
.iframeContainer{
  width: 70rem;
  height:28rem;
  margin: 0;
  display:block;
  border-left: none;
  border-top: 2px solid silver;
}
/*************iframe*****************/
  /*aside classes*/
  /* section */
  .dataContainer{
    margin-left:30%;
  }
  .dataContainerChange{
    margin-left: 60%;
  }
  .usersChange{
    display: grid;
    grid-template-columns: 18vw 18vw 18vw;
    gap: 2rem;
    margin: 3rem auto;
  }
  .users{
    display: grid;
    grid-template-columns: 45vw;
    gap: 1rem;
    margin: 3rem auto;
  }
  .users>li {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-radius: 10px 10px;
    text-align: left;
    height: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  .users img {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    margin-right: 1rem;
  }
  .usersChange>li {
    width: 100%;
    align-items: center;
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    text-align: left;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  .usersChange img{
    width: 8vw;
    height: 8vw;
    position: absolute;
    border-radius: 1% 1%;
    margin-right: 1rem;
    margin-top: 4rem;
  }
  .users h4 {
    margin-bottom: 0.15rem;
  }
  .users a {
    color: var(--clr-grey-5);
    text-transform: capitalize;
  }
  .news-content{
    display: inline;
    position:absolute;
    margin-top: 0.5%;
  }
  .button{
    display: inline;
    margin-left:102%;
    cursor: pointer;
  }
  .delete-btn{
    color:red;
    border-radius: 50%;
    background-color: #c2e9f9;
    width: 2vw;
    height:2vw;
    position: relative;
    border-style: none;
    cursor: pointer;
  }
  .buttonChange{
    color:red;
    border-radius: 50%;
    background: #e8eff4;
    width: 2vw;
    height:2vw;
    margin-left: -2.5%;
    position: relative;
    border-style: none;
    cursor: pointer;
  }
  .feedback-btn{
    color:black;
    border-radius: 5px 5px;
    background: #96ecc7;
    width: 80%;
    padding: 4% 1%;
    border-style: none;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 3%;
  }
  .pagination{
    margin-left: 42%;
  }
  .nxtArrowdisabled, .prevArrowDisabled{
    pointer-events: none! important;
     cursor: not-allowed! important;
     background-color: greenyellow;
  }
  .myArrow{
    color:#222;
    font-size: 10px;
    padding: 1% 2%;
    cursor: pointer;
    border-style: none;
  }
  .modalContainer{
    width: 10rem;
    height: 10rem;
    background-color:  red;
  }
